*
{ margin:0;
}
html,body
{
height:100%;

background-color:#000000;
}
h1,h2,h3,h4,h5,h6,p
{
margin-bottom:20px;
text-align:right;
font-family:"Palatino Linotype", "book Antiqua", Castellar;
color:#FFFFFF;
line-height:200%;

}
hr
{
line-height:200%;
}
nav
{
position:fixed;
width:100%;
height:50px;
background-color:rgba(0,0,0,.5);
z-index:99;
text-align:center;
}
nav a
{
text-decoration:none;
color:#FFFFFF;
margin-left:30px;
line-height:50px;
}
.sect
{
height:100%;
background-size:cover;
background-attachment:fixed;


}
.subsect
{
height:50%;

font-size:17px;

color:#FFFFFF;
background-size:cover;
background-attachment:fixed;
background-image:url(/ui/sub1.jpg);
background-color:#996600;

border-bottom:groove;
border-bottom-color:#8C4600;
border-bottom-width:thick;
border-top-color:#8C4600;
border-top-width:thick;


}
.sectone
{
background-image:url(/imad-2016-app/ui/image1.jpg);

}
.secttwo
{
background-image:url(/imad-2016-app/ui/image2.jpg);
}
.sectthree
{
background-image:url(/imad-2016-app/ui/image6.jpg);
}

